# Lists

In [5]:
mylist1 = [1,2,3]

mylist2 = list((1,2,3))

print(mylist1)
print(mylist2)

print(type(mylist1))
print(type(mylist2))

[1, 2, 3]
[1, 2, 3]
<class 'list'>
<class 'list'>

In [6]:
# Assign a list to an variable named my_list
my_list = [1.0,2.0,3.0]

In [7]:
type(my_list)

list

In [3]:
my_list*2

[1.0, 2.0, 3.0, 1.0, 2.0, 3.0]

In [8]:
my_list = ['A string',23,100.232,True]

In [9]:
len(my_list)

4

In [5]:
type(my_list)

list

In [13]:
mylist = my_list + ['ahmed'] + [1]
mylist

['A string', 23, 100.232, True, 'ahmed', 1]

In [14]:
mylist.pop()

1

In [7]:
my_list

['A string', 23, 100.232, 'o']

In [15]:
my_list=my_list+['ahmed']
my_list

['A string', 23, 100.232, True, 'ahmed']

In [20]:
my_list = ['A string',23,100.232,True]
my_list.append(15)

In [21]:
my_list.insert(0, 'hello')
my_list

['hello', 'A string', 23, 100.232, True, 15]

In [24]:
my_list.clear()
my_list

[]

### Indexing and Slicing

In [28]:
my_list = ['one','two','three',4,5]

In [29]:
# Grab element at index 0
x = my_list.pop()
x

5

In [27]:
my_list[-2:]

[4, 5]

In [5]:
# Grab index 1 and everything past it
my_list[1:]

['two', 'three', 4, 5]

In [24]:
# Grab everything UP TO index 3
my_list[:3]

['one', 'two', 'three']

In [25]:
# Make the list double
my_list * 2

['one', 'two', 'three', 4, 5, 'one', 'two', 'three', 4, 5]

In [26]:
# Again doubling not permanent
my_list

['one', 'two', 'three', 4, 5]

## Nesting Lists

In [28]:
# Let's make three lists
lst_1=[1,2,3]
lst_2=[4,5,6]
lst_3=[7,8,9]

# Make a list of lists to form a matrix
matrix = [lst_1,lst_2,lst_3]

In [29]:
# Show
matrix

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [31]:
# Grab first item in matrix object
matrix[0]

[1, 2, 3]

In [32]:
# Grab first item of the first item in the matrix object
matrix[0][0]

1

# Lists tasks

In [31]:
# Write a Python program to sum all the items in a list.
mylist = [0,1,2,3]
sum(mylist)

6

In [32]:
# Write a Python program to get the largest and smallest number from a list.
print(min(mylist))
print(max(mylist))

0
3

In [34]:
# Write a Python program to print a specified list after removing the 
#0th, and last element.
my_list = [0,1,2,3,4]


my_list2 = my_list[1:-1]
my_list2

[1, 2, 3]

In [39]:
# Write a Python program to get the difference between the two lists
list1 = [1,2,3]
list2 = [5,6,7]

list3 = []
x = list2[0] - list1[0]
list3.append(x)

In [40]:
list3

[4]

In [42]:
l = [1,1,2,2,3,3]

s = set(l)

In [43]:
s

{1, 2, 3}