# Strings

## Creating a String
To create a string in Python you need to use either single quotes or double quotes. For example:

In [36]:
str = 'Welcome,to the course'

str

['Welcome', 'to the course']

In [15]:
# Single word
first_name = 'abdullah'
last_name = 'nasser'

In [19]:
'x' in first_name

first_name.find()

False

In [8]:
print('my first name is {} my last name is {}'.format(first_name, last_name))

my first name is abdullah my last name is nasser

In [2]:
# Entire phrase 
'This is also a string'

'This is also a string'

In [23]:
'I\'m abdullah'

"I'm abdullah"

In [4]:
# Be careful with quotes!
' I'm using single quotes, but this will create an error'

SyntaxError: invalid syntax (<ipython-input-4-da9a34b3dc31>, line 2)

In [5]:
"Now I'm ready to use the single quotes inside a string!"

"Now I'm ready to use the single quotes inside a string!"

## Printing a String

In [6]:
# We can simply declare a string
'Hello World'

'Hello World'

In [1]:
# Note that we can't output multiple strings this way
'Hello World 1'
'Hello World 2'
'ahmed'

'ahmed'

We can use a print statement to print a string.

In [4]:
print('Hello World 1')
print('Hello World 2')
print('Use \t  to print a new line')
print('\n')
print('See what I mean?')

Hello World 1
Hello World 2
Use  	  to print a new line


See what I mean?

## String Basics

We can also use a function called len() to check the length of a string!

In [2]:
len('Hello World ')

12

## String Indexing

In [50]:
# Assign s as a string
s = 'Hello'

s.find('e')

1

In [49]:
#Check
print(s*5, '\n', s*5, '\n', s*5)
print(s)
print(s)
print(s)

HelloHelloHelloHelloHello
 HelloHelloHelloHelloHello
 HelloHelloHelloHelloHello
Hello
Hello
Hello

In [8]:
# Print the object
print(s) 
print(s)
print(s)

Hello World
Hello World
Hello World

In [9]:
# Show first element (in this case a letter)
s[0]

'H'

In [9]:
s[5]

' '

In [12]:
s[-1]

'd'

We can use a <code>:</code> to perform *slicing* which grabs everything up to a designated point. For example:

In [14]:
# Grab everything past the first term all the way to the length of s which is len(s)
s[1:]

'ello World'

In [13]:
# Note that there is no change to the original s
s

'Hello World'

In [11]:
# Grab everything UP TO the 3rd index
s[:4]

'Hell'

In [16]:
# Last letter (one index behind 0 so it loops back around)
s[-1]

'd'

In [12]:
s

'Hello World'

In [23]:
s=[1,2,3,4,5,6,7,8,9,10]
s
s
s

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [25]:
s[::3]

[1, 4, 7, 10]

In [30]:
s

'Hello World'

# String tasks

In [66]:
# ask user for full name, then print the name in the following format
# hello my first name is () and my last name is ()
first, last = input('Please enter your full name').split()

print('My first name is {} and my last name is {}'.format(first, second))
print(len)

print('first 2 letters = {} and last 2 letter = {}'.format(first[:2] , last[-2:]))

Please enter your full nameabdullah nasser
My first name is abdullah and my last name is nasser
<built-in function len>
first 2 letters = ab and last 2 letter = er

In [52]:
# calculate the length of a string given by user
s = 'Welcome!'

len(s)

first = input('Please enter your full name').split()

8

In [61]:
# Write a Python program to get a string made of the first 2 and the last 2 chars from a given a string
# Sample String : 'my name is abdullah'
# Expected Result : 'abah'
s = 'welcome here'
print(s[0:2] + s[-2:])

were

In [68]:
# Write a Python program to get a single string from two given strings, 
# separated by a space.
first = 'hello'
second = 'there'

print(first , second)

hello there

In [72]:
# Write a Python program to replace last 3 letters with 'ing'
# at the end of a given string
s = 'ahmed'

new_s = s[:-3] + 'ing'

new_s

'ing'

In [78]:
# Write a Python program to change a given string to a new 
# string where the first 2 and last 2 chars have been exchanged
# Sample String : 'python'
# Expected Result : 'onthpy'
s = 'python'

s[-2:] + s[2:-2] + s[:2]

'onthpy'

In [83]:
f = s[:2]

In [84]:
l = s[-2:]

In [85]:
m = s[2:-2]

In [87]:
l + m + f

'onthpy'