# for Loops

In [16]:
x = 0
while x<=10:
    x+=1
    if x == 5:
        x+=1
        continue
    if x == 7:
        break
        print('hello')
print('bye')        
    
# bye
#

bye

# 
## Example 1
4Iterating through a list

In [29]:
list1 = [1,2,3,4,5,6,7,8,9,10]

In [30]:
for number in list1: 
    print(number)

1
2
3
4
5
6
7
8
9
10



## Example 2

In [33]:
for num in list1:
    if num % 2 != 0:
        print(num)

1
3
5
7
9

In [34]:
for num in list1:
    if num % 2 == 0:
        print('even is {}'.format(num))
    else:
        print('odd is {}'.format(num))

odd is 1
even is 2
odd is 3
even is 4
odd is 5
even is 6
odd is 7
even is 8
odd is 9
even is 10


## Example 3

In [10]:
# Start sum at zero
list_sum = 1

for num in list1:
    list_sum = list_sum*num
print(list_sum)

3628800

## Example 4

In [35]:
for letter in 'This is a string.':
    print(letter)

## Example 5

In [12]:
tup = (1,2,3,4,5)

for t in tup:
    print(t)

1
2
3
4
5

## Example 6

In [38]:
list2 = [(2,4),(6,8),(10,12)]

In [45]:

for (abdullah,t2) in list2:
    print(abdullah)

2
6
10

In [43]:
list2[0]

(2, 4)

In [44]:
for number in list2:
    print(number)

(2, 4)
(6, 8)
(10, 12)

In [37]:
# Now with unpacking!
for (t1,t2) in list2:
    # i want two values only 
    print(t1)

In [11]:
x=[[1,2,3],[4,5,6],[7,8,9]]


x=[num[0]for num in x] #list comprehension
x

[1, 4, 7]

# For loop tasks

In [52]:
# Calculate the sum of all numbers from 1 to a given number
num = int(input('enter num'))

s = 0
for i in range(0,num+1):
    s = s + i
    
print(s)

[0,1,2,3,4,5]

enter num2
3

In [54]:
# Print list in reverse order using a loop
list1 = [0,1,2,3,4]

l = len(list1)

print(l)

for i in range(l-1, 0, -1):
    print(list1[i])

5
4
3
2
1

In [74]:
# Write a Python program to print the strings in a list
# where the string length is 3 or more

# x = input('enter words').split()

# len(x)
# for i in range(0, len(x)):
#     if len(x[i]) >= 3:
#         print(x[i])
        
x = int(input('enter number of words'))

l = []
for i in range(0, x):
    temp = input('enter a word')
    l.append(temp)
    
l

enter number of words4
enter a wordhello
enter a wordthere
enter a wordhi
enter a wordbye

['hello', 'there', 'hi', 'bye']

In [13]:
# Write a Python program to print the numbers 
# of a specified list after removing even numbers from it.

In [80]:
# Write a Python program to get the difference between 
#the two lists.
num = int(input('Please enter length of lists'))

l1 = []
l2 = []
l3 = []

for i in range(0, num):
    temp = int(input('enter num in first list'))
    l1.append(temp)
    
for i in range(0, num):
    temp = int(input('enter num in second list'))
    l2.append(temp)

for i in range(0,num):
    l3.append(l1[i] - l2[i])
    
l3

Please enter length of lists5
enter num in first list1
enter num in first list2
enter num in first list3
enter num in first list4
enter num in first list5
enter num in second list6
enter num in second list7
enter num in second list8
enter num in second list9
enter num in second list10

[-5, -5, -5, -5, -5]

In [76]:
l1

[]

In [57]:
x = 'outside'

def hapk():
    global x
    x = 'inside'
    print('x inside: ', x)
    
hapk()
print('x outside: ', x)

x inside:  inside
x outside:  inside

In [63]:
l = [(1,2), [3,4]]

for a, b in l:
    print(a)
    print(b)

1
3

In [66]:
l = list((0,0,0))

In [67]:
l

[0, 0, 0]

In [71]:
try:
    x = 5
    if x>5:
        print(x)
        
except:
    print('something is wrong')
else:
    print('nothing happened')

nothing happened