In [9]:
name = "Omar"
for i in name:
    print("x")

x
x
x
x

In [6]:
len(name)

4

In [10]:
range(len(name))

range(0, 4)

In [12]:
x = 0
while x < 5:
    print(x)
    x += 1

0
1
2
3
4

In [13]:
list = [1,2,3,4,5]
for i in range(len(list)):
    print(list[i])

1
2
3
4
5

In [15]:
len(list)

5

In [17]:
list = [1,2,3,4,5]
x = 0
while x < len(list):
    print(list[x])
    x += 1

1
2
3
4
5

In [20]:
x = 0
while x < 5:
    print(x)
    x += 1
    if x == 1:
        continue
    print(x)
    if x == 4:
        break
    print(x)

0
1
2
2
2
3
3
3
4

In [21]:
if x < 5:
    pass

In [23]:
# First of the Lab

In [25]:
# print values from 0 to 10

for i in range(0,11):
    print(i)

0
1
2
3
4
5
6
7
8
9
10

In [26]:
# print values from 0 to 10 with step

for i in range(0,11,2):
    print(i)

0
2
4
6
8
10

In [30]:
# print values from 0 to 10 using while loop
x = 0
while x <= 10:
    print(x)
    x += 1

0
1
2
3
4
5
6
7
8
9
10

In [35]:
x = 0
while x <= 10:
    
    if x == 5:
        x += 1
        continue
        
    print(x)
    x += 1

0
1
2
3
4
6
7
8
9
10

In [41]:
x = 0
while x <= 10:
    x += 1
    if x == 5:
        continue
    if x == 7:
        break
        print('hello')
print('bye')

bye

In [42]:
name = "Omar Khalil"
for i in name:
    print(i)

O
m
a
r

K
h
a
l
i
l

In [51]:
list = [(1,2),(3,4)]
for i in list:
    print(i)

(1, 2)
(3, 4)

In [52]:
list = [(1,2),(3,4),(5,6)]
for i,x in list:
    print(i)

1
3
5

In [55]:
list = [(1,2),(6,4),(5,6)]
for i,x in list:
    if i % 2 != 0:
        print(i)

1
5

In [64]:
x = 0
y = int(input("Enter any number: "))
while y > 0:
    x += y
    y -= 1  
print(x)

Enter any number: 5
15

In [69]:
def summation(x,y):
    add = x + y
    return add

In [73]:
x = int(input("Enter the first number: "))
y = int(input("Enter the second number: "))
summation(x,y)

Enter the first number: 1
Enter the second number: 2

3

In [74]:
pi = 3.14
def circle_area(r):
    area = pi*(r**2)
    return area

In [75]:
circle_area(2)

12.56

In [76]:
# Using recursion which means a defined function can call itself.

def factorial(n):
    if n == 1:
        return 1
    else:
        return n * factorial(n-1)

In [77]:
factorial(3)

6

In [81]:
# factorial number using 

x = 1
y = int(input("Enter any number: "))
while y > 1:
    x *= y
    y -= 1  
print(x)

Enter any number: 5
120

In [83]:
# using global key word

= 5
def add(n):
    global x
    res = n + x
    return res

In [84]:
add(10)

15

In [85]:
# try ... Except Clause

# 1- try: is the main code you want to handle 
# 2- except 
# 3- else 
# 4- finally

In [87]:
try:
    x = 5
    if x > 0:
        print(x)

except:
    print("something wrong")
else:
    print("nothing happened")

5
nothing happened

In [89]:
x = 5
try:
    print(t)
except:
    print("Error occured")

Error occured

In [91]:
x = 6
for i in range(6):
    print(x)
    x -= 1

6
5
4
3
2
1

In [92]:
# practice on (try ... except) & (try ... catch)

In [93]:
# file access (r: read, w: write, a: append)

In [109]:
with open(r"C:\Users\Omark\Desktop\file1.txt", 'w') as f:
    f.write("Omar")

In [110]:
with open(r"C:\Users\Omark\Desktop\file1.txt", 'a') as f:
    f.write(" khalil")

In [111]:
f = open(r"C:\Users\Omark\Desktop\file1.txt", 'r')
print(f.read())
f.close()

Omar khalil

In [116]:
def get_max(a,b,c):
    print(max(a,b,c))

In [117]:
get_max(1,2,3)

3

In [119]:
def locate(n):
    x = int(input())
    y = int(input())
    if n > x and n < y:
        print(n)
    else:
        print("out the range")

In [121]:
locate(5)

1
2
out the range

In [129]:
list = [1, 5, 3, 6, 3, 5, 6, 1]

print ("The original list is : " +  str(list))

res = [i for n, i in enumerate(list) if i not in list[:n]]
  
# printing list after removal 

print ("The list after removing duplicates : " + str(res))

The original list is : [1, 5, 3, 6, 3, 5, 6, 1]
The list after removing duplicates : [1, 5, 3, 6]

In [167]:
# Another solution
list = [1, 5, 3, 6, 3, 5, 6, 1]
new_list = set(list)
print(new_list)

{1, 3, 5, 6}

In [177]:
list = input("Enter any names: ").split()
for i in range(0, len(list)):
    if len(list[i]) >= 5:
        print(list[i])

Enter any names: Omar Khalil
Khalil

In [202]:
list = input("Enter any names: ").split()
print(list)
new_list = []
for i in range(0, len(list)):
    if len(list[i]) >= 5:
        new_list.append(list[i])
print(new_list)

Enter any names: omar khalil khalid
['omar', 'khalil', 'khalid']
['khalil', 'khalid']

In [199]:
list = [1,2,5,4]
print(list)
new_list = []
for i in range(0, len(list)):
    if (list[i]) %2 == 1:
        new_list.append(list[i])
print(new_list)

[1, 2, 5, 4]
[1, 5]

In [206]:
list1 = [2, 2, 2]
list2 = [1, 1, 1]
difference = []

obj = zip(list1, list2)
for x, y in obj:
    difference.append(x-y)

print(difference)

[1, 1, 1]

In [218]:
import numpy as np

list1 = [10, 11, 12]
list2 = [1, 2, 3]
out_list = []

array1 = np.array(list1)
array2 = np.array(list2)

subtracted_array = np.subtract(array1, array2)

out_list.append(subtracted_array)
print(subtracted_array)

[9 9 9]

In [217]:
list1 = [10, 11, 12]
list2 = [1, 2, 3]
subtracted = []
for i in range(len(list1)):
    item = list1[i] - list2[i]
    subtracted.append(item)
print(subtracted)

[9, 9, 9]

In [220]:
list1 = [10, 11, 12]
list2 = [1, 2, 3]

subtracted = [element1 - element2 for (element1, element2) in zip(list1, list2)]

print(subtracted)

[9, 9, 9]