In [6]:
print("my name is {} and i'm {} years old".format("Omar",22))

my name is Omar and i'm 22 years old

In [7]:
name = "xiaffer"

In [9]:
name.find("x")

0

In [10]:
"x" in name

True

In [11]:
'I\'m Omar'

"I'm Omar"

In [12]:
"I'm Omar"

"I'm Omar"

In [43]:
name = input("Enter your name: ").split()

Enter your name: Omar Khalil

In [45]:
print("Hello my first name is {}".format(name[0]))

Hello my first name is Omar

In [67]:
string = input("Enter any string: ")

Enter any string: Omar Khalil

In [39]:
print(string)

funny duck

In [40]:
len(string)

10

In [69]:
print(string[0:2] + string[9:])

Omil

In [37]:
add_ing = input("Enter Any String to append 'ing' to it\'s end: ")
print(add_ing + "ing")

Enter Any String to append 'ing' to it's end: play
playing

In [47]:
f_name = "Omar"
l_name = "Khalil"
print(f_name,l_name)

Omar Khalil

In [49]:
add_ing = input("Enter Any String to append 'ing' to it\'s end: ")
print(add_ing[0:len(add_ing)-3] + "ing")

Enter Any String to append 'ing' to it's end: replace
repling

In [66]:
replace = input("Enter Any String: ")
print(replace[-1] + replace[1:-1] + replace[0])

Enter Any String: python
nythop

In [80]:
number_1 = 1
number_2 = 350
number_1 & number_2

0

In [82]:
x = 20
y = 5
result = (x + True) / (4 - y * False)
print(result)

5.25

In [91]:
import math

G = 6.67 * 10**-11
M = 6.0 * 10**24
m =  7.34 * 10**22
r = 3.84 * 10**8

result = (G*M*m)/r**2
print(result)

1.9920979817708333e+20

In [2]:
my_list1 = [1,2,3]
my_list2 = list((1,2,3))

print(my_list1)
print(my_list2)

[1, 2, 3]
[1, 2, 3]

In [4]:
print(type(my_list1))
print(type(my_list2))

<class 'list'>
<class 'list'>

In [5]:
my_list1 * 2

[1, 2, 3, 1, 2, 3]

In [9]:
list = ["omar", 1 , "khalil", True]

In [10]:
len(list)

4

In [12]:
list + ["omar"] + [1]

['omar', 1, 'khalil', True, 'omar', 1]

In [13]:
list.append(1)

In [14]:
print(list)

['omar', 1, 'khalil', True, 1]

In [16]:
list.remove(1)
print(list)

['omar', 'khalil', 1]

In [29]:
list.clear()
print(list)

[]

In [32]:
list.insert(0,2)
print(list)

[2, 1, 1]

In [33]:
list.pop()

1

In [34]:
sum_list = [1,2,3]
sum(sum_list)

6

In [36]:
max(sum_list)

3

In [37]:
min(sum_list)

1

In [62]:
def multiplyList(myList) :
    
    result = 1
    for x in sum_list:
             result = result * x
    return result

list = [1,2,3]
print(multiplyList(list))

6

In [64]:
new_list = [1,2,3,4]
out = new_list[1:-1]
print(out)

[2, 3]

In [87]:
list1 = [3,2,3]
list2 = [1,1,0]
out = []

# using zip() function creates an iterator that will aggregate elements from two or more iterables.

obj = zip(list1,list2)

for x,y in obj:
    out.append(x - y)
    
print(out)

[2, 1, 3]

In [101]:
list1 = [3,2,3]
list2 = [1,1,0]
out = []

# using zip() function creates an iterator that will aggregate elements from two or more iterables.

for x in list1:
    for y in list2:
        out.append(x - y)
print(out)

[2, 2, 3, 1, 1, 2, 2, 2, 3]

In [80]:
# convert it to set (it will sort it ascending)
set(out)

{1, 2, 3}

In [82]:
# difference between set & list -- tuple & string

# tuple & string are: immutaple & ordered

# list & set are: mutable & ordered

In [83]:
# If Condition

In [86]:
a = 100
b = 200

if a > b:
    print(a)
elif b > a:
    print(b)
else:
    print("they are equal")

200

In [146]:
string = "karim,sergi,omar,sahar,samy"

lst = string.split(',')
print("the word that starts with 's' letter in the list is: \n")
for k in lst:
    if k.startswith('s'):
        print(k)

the word that starts with 's' letter in the list is:

sergi
sahar
samy

In [160]:
x = int(input("What is your exam score? "))

if x > 90:
    print('You got a A! Well done!')
elif x > 80 and x <= 90:
    print('You got an B! Congrats!')
elif x >= 60 and x<= 80:
    print('You got a C! very good!')
elif x < 60 and x >= 50:
    print('You got a D! ,you can do better!')
elif x < 0:
    print('Please enter a valid number!')
else:
    print("You did not pass the exam. See the teacher for more information.")

What is your exam score? 100
You got a A! Well done!

In [176]:
dictionary = {52:"E",126:"A",134:"B",188:"C",189:"D"}
for key, value in dictionary.items():
    print(key)
    print(value)

52
E
126
A
134
B
188
C
189
D

In [180]:
dictionary = {"delhi":"red_font","agra":"taj_mahal"}
for key, value in dictionary.items():
    print(key)
    print(value)

delhi
red_font
agra
taj_mahal

In [189]:
dictionary = {"delhi":"red_font","agra":"taj_mahal"}
city = input("Enter the city: ").split()

Enter the city: delhi agra

In [190]:
print(city)

['delhi', 'agra']

In [195]:
x = {"delhi":"red_font","agra":"taj_mahal"}
y = input("Enter the city: ")
if y in x:
    print(x[y])
else:
    print("404")

Enter the city: delhi
red_font